.body {
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 18vh;
  padding-bottom: 90px;
}

.placeholder {
  position: fixed;
  top: 20%;
  width: 100%;
  overflow: hide;
  justify-self: center;
  align-self: center;
  font-size: 3.5vw;
  color: rgb(209, 193, 173);
}
